body{
 background-color:  #d4c6a1;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

nav, header,
.wp-block-site-title,
.hidden{
	display:none !important;
}

.wp-block-post-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
